page-login {
    .padding-fixed {
        padding-bottom: 4.5rem;
    }
    .login-header {
        margin-bottom: 35px;
        .brand {
            margin: 30px 0;
        }
    }
    .title-white {
        margin: 2px 0;
    }
    .button-full.button-outline {
        margin-top: 15px;
        margin-bottom: 15px;
        background: #f3f3f3!important;
        border: 2px solid #0276a9!important;
        .button-inner {    margin: 0px !important;
    // width: 70% !important;
    margin-bottom: 20px !important;
            strong {
                margin-left: 5px;
            }
        }
    }
 
    .button-md-light {
        color: color($colors, primary);
        margin-top: 35px;
    }
    .scroll-content {
        background: url(../assets/imgs/bg-login.png) no-repeat center top color($colors, primary);
        background-size: cover;
        color: white;
        .title-yellow {
            margin: 10px 0;
        }
        .block-text {
            p {
                margin-top: 0;
            }
        }
        .link {
            padding: 10px 0;
            color: #a5a5a5;
            font-weight: bold;
        }
        .button-fixed, .button-bottom {
            background: #0276a9;
        }
    }
}
.botalogfb span{
    color: #0276a9!important;
font-weight: bold!important;
}

.butaoentrar{
background: #0276a9!important;
}