<ion-header color="header">
  <style>
    .has-refresher > .scroll-content{
background-color: #fff!important
    }
    </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Seja um Voluntário</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background:#fff;    padding-top: 2%;
margin-top: -1%;"  >

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let l of listSejaVoluntario" (click)="openDetail('voluntario-detalhe', l.Id)">
      <ion-avatar item-start>
        <img src="{{l.Arquivo.Url}}">
      </ion-avatar>
      <h2>{{l.Titulo}}</h2>
      <p>{{l.Chamada}}</p>
      <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>
