<ion-header color="header">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>Voluntários da Pátria</ion-title>
      <ion-buttons end>

      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-slides class="bannerItem">
      <ion-slide *ngFor="let b of bannersAll" (click)="openExternal(b.Url, b)">
        <div class="swiper-zoom-container">
          <img src="{{b.Imagem}}">
        </div>
      </ion-slide>
    </ion-slides>

    
    <ion-fab bottom right>
      <button ion-fab mini color="basegreen" (click)="optionsContribuition()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-segment [(ngModel)]="tab" color="primary">
      <ion-segment-button value="noticias" (click)="skip = 0; start = 3">
        <ion-icon name="paper"></ion-icon>Notícias
      </ion-segment-button>
      <ion-segment-button value="agenda" (click)="skip = 0; start = 3">
        <ion-icon name="calendar"></ion-icon>Agenda
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'noticias'" class="noticias-tab-content tab-content">
        <section padding>
          <div>
            <ion-card *ngFor="let conteudo of noticiasList">
              <img (click)="openDetail('noticias', conteudo.Id)" [src]="conteudo.Imagem"/>
              <ion-card-content (click)="openDetail('noticias', conteudo.Id)">
                <small text-uppercase class="yellow-color">{{conteudo.CategoriaConteudo.Nome}}</small>
                <ion-card-title>{{conteudo.Titulo}}</ion-card-title>
                <div [innerHtml]="conteudo.Texto | excerpt:120"></div>
                <ion-note>{{conteudo.Hora}}</ion-note>
              </ion-card-content>
              <ion-row class="footer-card">
                <ion-col style="padding-right: 15%;">
                  <button ion-button icon-left clear small (click)="postLike(conteudo)" [ngClass]="{'liked': conteudo.JaCurtiu}">
                    <ion-icon name="heart" [ngClass]="{'liked': conteudo.JaCurtiu}"></ion-icon>
                    <!-- <ion-icon name="heart" *ngIf="conteudo.Curtidas > 0" style="color:#004f99"></ion-icon> -->
                    <div [ngClass]="{'liked': conteudo.JaCurtiu}">{{conteudo.Curtidas}}</div>
                    <!-- <div *ngIf="conteudo.Curtidas > 0" style="color:#004f99">{{conteudo.Curtidas}}</div> -->

                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-right text-left clear small (click)="showShare(conteudo)">
                    <div text-right>Compartilhe e <br/> ganhe <strong>{{conteudo.PontuacaoCompartilhamento}} pontos</strong></div>
                    <ion-icon name="share"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </section>
      </div>
      <div *ngSwitchCase="'agenda'" class="agenda-tab-content tab-content">
        <section padding class="agendaSection">

          <div class="list-cards">
            <ion-card (click)="openDetail('evento', evento.Id)" *ngFor="let evento of agendaList" >
              <div class="row">
                <div class="hour">{{evento.Data | date: 'dd'}} <strong>{{evento.Data | date: 'MMM'}}</strong> <small> {{evento.Hora}}h </small></div>
                <div class="col">
                  <ion-card-content>
                    <ion-card-title>{{evento.Titulo}}</ion-card-title>
                    {{evento.Local}}
                  </ion-card-content>
                </div>
              </div>
            </ion-card>

            <div class="wrapError" *ngIf="(agendaList).length === 0">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
              <p>Aguarde. Em breve estará disponível a agenda de eventos e encontros.</p>
            </div>
          </div>
        </section>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event, tab)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
</ion-content>
