<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Pesquisa de Opinião</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list margin-top>
    <ion-card (click)="presentProfileModal(p.Pesquisa)" *ngFor="let p of listaPesquisa">
      <ion-card-content class="flex-card">
        <div>
          <small class="yellow-color" text-uppercase>{{p.Tema}}</small>
          <ion-card-title>{{p.Pesquisa.Pergunta}}</ion-card-title>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card (click)="presentProfileModal()">
      <ion-card-content class="flex-card">
        <div>
          <small class="yellow-color" text-uppercase>Segurança Pública</small>
          <ion-card-title>Você é a favor ou contra o porte de armas para toda população?</ion-card-title>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="presentProfileModal()">
      <ion-card-content class="flex-card">
        <div>
          <small class="yellow-color" text-uppercase>Pesquisa de Opinião</small>
          <ion-card-title>Você gostou do novo site do Jair Bolsonaro?</ion-card-title>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="presentProfileModal()">
      <ion-card-content class="flex-card">
        <div>
          <small class="yellow-color" text-uppercase>Pesquisa de Opinião</small>
          <ion-card-title>O que você achou da plataforma de doação MaisQueVoto?</ion-card-title>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card> -->
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

