<div class="container-round">
        <div class="box">
            <button class="btnClose" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="text">
                    <p>Art. 33. É vedado a partido político e a candidato receber, direta ou indiretamente, doação em dinheiro ou estimável em dinheiro, inclusive por meio de publicidade de qualquer espécie, procedente de:</p>
                    <p>I - pessoas jurídicas;</p>
                    <p>II - origem estrangeira;</p>
                    <p>III - pessoa física que exerça atividade comercial decorrente de permissão pública.</p>
                    <p>§ 1º A vedação prevista no inciso III não alcança a aplicação de recursos próprios do candidato em sua campanha.</p>
                    <p>§ 2º O recurso recebido por candidato ou partido oriundo de fontes vedadas deve ser imediatamente devolvido ao doador, sendo vedada sua utilização ou aplicação financeira.</p>
                    <p>§ 3º Na impossibilidade de devolução dos recursos ao doador, o prestador de contas deve providenciar imediatamente a transferência dos recursos recebidos ao Tesouro Nacional, por meio de Guia de Recolhimento da União (GRU).</p>
                    <p>§ 4º Incidirão atualização monetária e juros moratórios, calculados com base na taxa aplicável aos créditos da Fazenda Pública, sobre os valores a serem recolhidos ao Tesouro Nacional, desde a data da ocorrência do fato gerador até a do efetivo recolhimento, salvo se tiver sido determinado de forma diversa na decisão judicial.</p>
                    <p>§ 5º O disposto no § 4º não se aplica quando o candidato ou o partido político promove espontânea e imediatamente a transferência dos recursos para o Tesouro Nacional, sem deles se utilizar.</p>
                    <p>§ 6º A transferência de recurso recebido de fonte vedada para outro órgão partidário ou candidato não isenta o donatário da obrigação prevista no § 2º.</p>
                    <p>§ 7º O beneficiário de transferência cuja origem seja considerada fonte vedada pela Justiça Eleitoral responde solidariamente pela irregularidade, e as consequências serão aferidas por ocasião do julgamento das respectivas contas.</p>
                    <p>§ 8º A devolução ou a determinação de devolução de recursos recebidos de fonte vedada não impedem, se for o caso, a reprovação das contas, quando constatado que o candidato se beneficiou, ainda que temporariamente, dos recursos ilícitos recebidos, assim como a apuração do fato na forma do art. 30-A da Lei nº 9.504/1997, do art. 22 da Lei Complementar nº 64/1990 e do art. 14, § 10, da Constituição da República.</p>
                    <p>
                        § 9º O comprovante de devolução ou de recolhimento, conforme o caso, poderá ser apresentado em qualquer fase da prestação de contas ou até 5 (cinco) dias após o trânsito em julgado da decisão que julgar as contas de campanha, sob pena de encaminhamento das informações à representação estadual ou municipal da Advocacia-Geral da União para fins de cobrança.
                    </p>
                    <p>Para visualizar todas as informações da RESOLUÇÃO Nº 23.553, acesse <a target="_blank" href="http://www.tse.jus.br/legislacao-tse/res/2017/RES235532017.html"> http://www.tse.jus.br/legislacao-tse/res/2017/RES235532017.html</a></p>
            </div>
            <button class="btnOk" (click)="close()">Ok</button>
           
        </div>
    </div>