<!-- @TODO aplicar html e css para iOS -->
<ion-header color="header">
  <style>
   .qc-group-btn button {

    font-weight: 700;
}
    </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Quero contribuir</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
        <ion-icon name="search"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="step === 1">

  <header class="qc-header">
    <div class="photo"></div>
    <div class="mask"></div>
    <h2>Jair Messias Bolsonaro</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirForm" novalidate>
    <h3>Identifique-se</h3>

    <ion-list>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Nome" name="nome" formControlName="nome" [(ngModel)]= "model.Nome" (keyup)="validaPart1()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorNome" >O campo Nome é obrigatório</ion-label>
      <ion-item>
        <ion-input type="email" placeholder="E-mail" name="email" formControlName="email" [(ngModel)]= "model.Email" (keyup)="validaPart1()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorEmail" >O campo  E-mail é obrigatório</ion-label>
      <ion-label class="error" *ngIf="errorEmail2" >O campo E-mail é inválido</ion-label>

      <ion-item no-lines>
        <ion-input type="tel" placeholder="CPF" [brmasker]="{mask:'000.000.000-00', len:14}" name="cpf" formControlName="cpf" [(ngModel)]= "model.CPFCNPJ" (keyup)="validaPart1()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorCPF" >O campo CPF é obrigatório</ion-label>
      <ion-label class="error" *ngIf="errorCPF2" >O campo CPF é inválido</ion-label>

      <ion-item no-lines>
        <ion-input type="tel" placeholder="Celular"   [brmasker]="{phone: true}" name="celular" formControlName="celular" [(ngModel)]= "model.Celular" (keyup)="validaPart1()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorCelular" >O campo Celular é obrigatório</ion-label>

      <ion-item no-lines>
        <ion-select name="sexo" placeholder="Sexo" cancelText="Cancelar" formControlName="sexo" [selectOptions]="{title: 'Sexo'}" [(ngModel)]= "model.Sexo" (ionChange)="validaPart1()" style="padding-left:20px;">
          <ion-option value="2">Feminino</ion-option>
          <ion-option value="1">Masculino</ion-option>
        </ion-select>
      </ion-item>
      <ion-label class="error" *ngIf="errorSexo" >O campo Sexo é obrigatório</ion-label>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
        <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goBack()">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(2,model)" [style.opacity]="erroParte1">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-footer class="qc-footer">
          <ion-toolbar>
            <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
            <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
          </ion-toolbar>
        </ion-footer>
    </ion-list>
  </form>
 
</ion-content><!-- / Passo 1 -->

<ion-content *ngIf="step === 2">
  <header class="qc-header">
    <div class="photo"></div>
    <div class="mask"></div>
    <h2>Jair Messias Bolsonaro</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirStep2Form" novalidate>
    <h3>Selecione o Valor</h3>

    <ion-list>

      <ion-item no-lines class="qc-group-btn">
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor1,1)" [ngClass]="{'check': valor1}">{{configuracao.DoacaoValor1}}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor2,2)" [ngClass]="{'check': valor2}">{{configuracao.DoacaoValor2}}</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (click)= "selecionarValor(configuracao.DoacaoValor3,3)" [ngClass]="{'check': valor3}">{{configuracao.DoacaoValor3}}</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full  (click)= "selecionarValor(configuracao.DoacaoValor4,4)" [ngClass]="{'check': valor4}">{{configuracao.DoacaoValor4}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <input type="hidden" name="quantia">

      <ion-item no-lines>
        <ion-label class="qc-label">Outro Valor</ion-label>
        <ion-input type="tel" placeholder="R$" name="valor" [brmasker]="{ money:true }" formControlName="valor" [(ngModel)]= "model.Valor2" (keyup)="convert($event)"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorValor">O campo Valor é obrigatório</ion-label>
      <ion-label class="error" *ngIf="errorValor2">{{configuracao.TextoValorMinimo}}</ion-label>
      <ion-label class="error" *ngIf="errorValor3">{{configuracao.TextoValorMaximo}}</ion-label>

      <ion-item text-wrap no-lines class="qc-info">
          <ion-icon name="alert" item-start style="    margin: 0!important;
          color: #333333;    font-size: 1.5em!important;"></ion-icon>
        <div item-end ><p style="font-size: 1.4rem;
    color: #333333;
    font-weight: bold;font-size: 1.5rem!important;">Para valores acima de R$ 1.064,00 a doação deverá ser realizada via TED bancário.</p></div>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-checkbox align-self-start formControlName="check1" [(ngModel)]= "model.check1" (ionChange)="validaPart2()" [ngClass]="{'error-check': errorCheck1}"></ion-checkbox>
        <ion-label><p class="p33">Declaro ter ciência de que a legislação eleitoral limita as doações a 10% (dez por cento) dos
            rendimentos brutos auferidos pelo doador no ano anterior à eleição.</p></ion-label>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-checkbox align-self-start formControlName="check2" [(ngModel)]= "model.check2" (ionChange)="validaPart2()" [ngClass]="{'error-check': errorCheck2}"></ion-checkbox>
        <ion-label><p class="p33">Declaro, ainda, que os recursos as serem doados, além de possuírem origem lícita, não são
            provenientes de fonte vedada, nos <strong (click)="openTse()">termos do art. 33 da Resolução n<sup>o</sup> 23.553/17 do TSE.</strong></p></ion-label>
      </ion-item>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
      <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goToStep(1,model)">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(3,model)" [style.opacity]="erroParte2">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-footer class="qc-footer">
          <ion-toolbar>
            <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
            <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
          </ion-toolbar>
        </ion-footer>
    </ion-list>
  </form>
</ion-content><!-- / Passo 2 -->

<ion-content *ngIf="step === 3">
  <header class="qc-header">
    <div class="photo"></div>
    <div class="mask"></div>
    <h2>Jair Messias Bolsonaro</h2>
    <h5>Faça sua doação</h5>
  </header>
  <form class="qc-form" [formGroup]="contribuirStep3Form" novalidate>
    <h3>Digite seu endereço</h3>

    <ion-list>

      <ion-item no-lines>
        <ion-input type="tel" [brmasker]="{mask:'00000-000', len:10}" placeholder="CEP" name="cep" formControlName="cep"[(ngModel)]= "model.CEP" (keyup)="getCep(model.CEP)"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorCEP">O campo CEP é obrigatório</ion-label>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Estado" name="estado" formControlName="estado" [(ngModel)]= "model.Estado" (keyup)="validaPart3()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorEstado">O campo Estado é obrigatório</ion-label>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Cidade" name="cidade" formControlName="cidade" [(ngModel)]= "model.Cidade" (keyup)="validaPart3()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorCidade">O campo Cidade é obrigatório</ion-label>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Bairro" name="bairro" formControlName="bairro" [(ngModel)]= "model.Bairro" (keyup)="validaPart3()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorBairro">O campo Bairro é obrigatório</ion-label>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Endereço" name="endereco" formControlName="endereco" [(ngModel)]= "model.Endereco" (keyup)="validaPart3()"></ion-input>
      </ion-item>
      <ion-label class="error" *ngIf="errorEndereco">O campo Endereco é obrigatório</ion-label>
      <ion-item no-lines class="qc-two">
        <ion-input type="tel" placeholder="Número" name="numero" size="4" formControlName="numero" [(ngModel)]= "model.EnderecoNumero"></ion-input>
        <ion-input type="text" placeholder="Complemento" name="complemento" formControlName="complemento"[(ngModel)]= "model.Complemento"></ion-input>
      </ion-item>

      <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
      margin: 0 auto;">
      <ion-row>
          <ion-col col-5>
            <button class="qc-btn-cancel" ion-button block (click)="goToStep(2,model)">Voltar</button>
          </ion-col>
          <ion-col col-7>
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(4,model)" [style.opacity]="erroParte3">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-footer class="qc-footer">
          <ion-toolbar>
            <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
            <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
          </ion-toolbar>
        </ion-footer>
    </ion-list>
  </form>
</ion-content><!-- / Passo 3 -->

<ion-content *ngIf="step === 4">
  <header class="qc-header">
    <div class="photo"></div>
    <div class="mask"></div>
    <h2>Jair Messias Bolsonaro</h2>
    <h5>Faça sua doação</h5>
  </header>

  <form class="qc-form" [formGroup]="contribuirStep4Form" novalidate>
    <h3>Forma de Pagamento</h3>

    <!-- <ion-segment [(ngModel)]="formaPgto" [ngModelOptions]="{standalone: true}">
      <ion-segment-button value="cartao" text-wrap align-items-center (click)="setEspecieRecurso(4)">
        <ion-icon name="card"></ion-icon>
        <p style="    line-height: 1;
        margin-top: 7px;
        font-size: 1.8rem;
        width: 55%;">Cartão de Crédito</p>
      </ion-segment-button>
      <ion-segment-button value="boleto" text-wrap align-items-center (click)="setEspecieRecurso(6)">
        <ion-icon name="barcode"></ion-icon>
        <p>Boleto</p>
      </ion-segment-button>
    </ion-segment> -->

    <div [ngSwitch]="formaPgto">
      <div *ngSwitchCase="'cartao'">

        <ion-list padding-top>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Número do cartão</ion-label>
            <ion-input type="tel" placeholder="" [brmasker]="{mask:'0000 0000 0000 0000', len:19}" name="cartao_numero" formControlName="documento" [(ngModel)]= "model.NumeroDocumento" (keyup)="validaPart4()"></ion-input>
          </ion-item>
          <ion-label class="error" *ngIf="errorNumeroDocumento">O campo Número do cartão é obrigatório</ion-label>

          <ion-item no-lines>
            <ion-label color="dark" stacked>Nome Impresso no Cartão</ion-label>
            <ion-input type="text" placeholder="" name="cartao_nome" formControlName="nomeimpresso" [(ngModel)]= "model.NomeDocumento" (keyup)="validaPart4()"></ion-input>
          </ion-item>
          <ion-label class="error" *ngIf="NomeDocumento">O campo Nome Impresso no Cartão é obrigatório</ion-label>
          <ion-item no-lines>
            <ion-label color="dark" stacked>Data de Nascimento</ion-label>
            <ion-input type="tel" [brmasker]="{mask:'00/00/0000', len:10}" placeholder="dd/mm/aaaa" name="cartao_dt_nasc" formControlName="data" [(ngModel)]= "model.DataNascimentoDocumento" (keyup)="validaPart4()"></ion-input>
          </ion-item>
          <ion-label class="error" *ngIf="errorDataNascimentoDocumento">O campo Data de Nascimento é obrigatório</ion-label>
          <ion-label class="error" *ngIf="errorDataNascimentoDocumento2">O campo Data de Nascimento é invalido</ion-label>
          <ion-label class="error" *ngIf="errorDataNascimentoDocumento3">Titular precisa ser maior de 18 anos</ion-label>
          <ion-item no-lines class="no-margin-bottom">
            <ion-label color="dark" stacked>Validade</ion-label>
          </ion-item>
          <ion-label class="error" *ngIf="errorCidade">O campo Validade é obrigatório</ion-label>
          <ion-item no-lines class="qc-two">

            <ion-select name="cartao_val_mes" placeholder="Mês" cancelText="Cancelar" [selectOptions]="{title: 'Mês'}" formControlName="mes" [(ngModel)]= "model.MesDocumento" (ionChange)="validaPart4()">
              <ion-option value="01">Janeiro</ion-option>
              <ion-option value="02">Fevereiro</ion-option>
              <ion-option value="03">Março</ion-option>
              <ion-option value="04">Abril</ion-option>
              <ion-option value="05">Maio</ion-option>
              <ion-option value="06">Junho</ion-option>
              <ion-option value="07">Julho</ion-option>
              <ion-option value="08">Agosto</ion-option>
              <ion-option value="09">Setembro</ion-option>
              <ion-option value="10">Outubro</ion-option>
              <ion-option value="11">Novembro</ion-option>
              <ion-option value="12">Dezembro</ion-option>
            </ion-select>

            <ion-select name="cartao_val_ano" placeholder="Ano" cancelText="Cancelar" [selectOptions]="{title: 'Ano'}" formControlName="ano" [(ngModel)]= "model.AnoDocumento"(ionChange)="validaPart4()">
              <ion-option *ngFor="let ano of years" [value]="ano">{{ano}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-label class="error" *ngIf="errorMesDocumento">O campo Mês é obrigatório</ion-label>
          <ion-label class="error" *ngIf="errorAnoDocumento">O campo Ano é obrigatório</ion-label>
          <ion-label class="error" *ngIf="errorDataVencimento">Cartão vencido</ion-label>
          <ion-item no-lines>
            <ion-label color="dark" stacked>Código de segurança</ion-label>
            <ion-input type="tel" placeholder="CVV" name="cartao_cvv" maxlength="4" formControlName="cvv" [(ngModel)]= "model.NumeroAutorizacao" (keyup)="validaPart4()"></ion-input>
          </ion-item>
          <ion-label class="error" *ngIf="errorNumeroAutorizacao">O campo CVV é obrigatório</ion-label>
          <ion-item no-lines padding text-center>
            <img src="assets/imgs/visa.png" alt="visa">
            <img src="assets/imgs/mastercard.png" alt="mastercard">
          </ion-item>

          <ion-item text-wrap no-lines class="qc-info">
            <ion-icon name="lock" md="md-lock" item-start></ion-icon>
            <div item-end>esse ambiente é seguro e os dados do seu cartão não serão armazenados</div>
          </ion-item>

          <ion-item no-lines no-margin no-padding class="qc-buttons" style="width: 97%;
          margin: 0 auto;">
            <ion-row>
              <ion-col col-5>
                <button class="qc-btn-cancel" ion-button block (click)="goToStep(3,model, true)">Voltar</button>
              </ion-col>
              <ion-col col-7>
                <button class="qc-btn-submit" ion-button block color="header" (click)="enviarDoacao(model)" [style.opacity]="erroParte4">Continuar</button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-footer class="qc-footer">
              <ion-toolbar>
                <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
                <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
              </ion-toolbar>
            </ion-footer>
        </ion-list>

      </div>

      <div *ngSwitchCase="'boleto'">

        <ion-list>
          <ion-item>
            <p text-center>O boleto será enviado para o seu e-mail.</p>
          </ion-item>

          <ion-item no-lines no-margin no-padding class="qc-buttons">
            <ion-row>
              <ion-col col-4>
                <button class="qc-btn-cancel" ion-button block (click)="goToStep(1)">Voltar</button>
              </ion-col>
              <ion-col col-8>
                <button class="qc-btn-submit" ion-button block color="header" (click)="enviarDoacao(model)">Continuar</button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-footer class="qc-footer">
              <ion-toolbar>
                <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
                <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
              </ion-toolbar>
            </ion-footer>
        </ion-list>
      </div>
    </div>
  </form>
</ion-content><!-- / Passo 4 -->

<ion-content *ngIf="step === 5">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col class="qc-confirmation">
        <h2>Confirmação</h2>

        <div text-center>
          <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
        </div>

        <p>Sua doação foi enviada com sucesso!</p>

        <ion-list class="qc-form">
          <ion-item class="qc-buttons">
            <button class="qc-btn-submit" ion-button block color="header" (click)="goToStep(1)">Doar novamente</button>
          </ion-item>
          
        </ion-list>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer class="qc-footer">
    <ion-toolbar>
      <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
      <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<!-- <ion-footer class="qc-footer">
  <ion-toolbar>
    <ion-title *ngIf="step <= 4">Passo <strong>{{step}} de 4</strong></ion-title>
    <ion-title *ngIf="step == 5">Doação <strong>Concluída</strong></ion-title>
  </ion-toolbar>
</ion-footer> -->


