<ion-content style="padding:10%;"> 
    <ion-slides pager (ionSlideDidChange)="slideChanged()" class="contentprehome" style=" background-image: url(./assets/imgs/bgtutorial.png);
    background-repeat: no-repeat;
    background-size: cover;">

      <ion-slide text-center>
        <img src="./assets/imgs/tutorial1.png" class="ico">
        <h2 class="title-yellow">Seja um voluntário<br/> pela Pátria!</h2>
        <p>Faça seu cadastro e fique por dentro das principais informações.</p>

      <button class="bt-skip btntuto" (click)="goState()">Pular</button>

      </ion-slide>

      <ion-slide>
        <img src="./assets/imgs/tutorial2.png" class="ico">
        <h2 class="title-yellow">Suas interações
         <br/> valem pontos! </h2>
        <p>Preencher seus dados, compartilhar conteúdo e responder pesquisas dão pontos.</p>
      <button class="bt-skip btntuto" (click)="goState()">Pular</button>

      </ion-slide>

      <ion-slide>
        <img src="./assets/imgs/tutorial3.png" class="ico">
        <h2 class="title-yellow">Seus pontos te
          <br/> dão medalhas!</h2>
        <p>Quanto mais você participa, mais pontos tem e mais níveis vai subindo.
        </p>
      <button class="bt-skip btntuto" (click)="goState()" style="border: none;
      background: #0276a9;">Começar!</button>
     
      </ion-slide>


    </ion-slides>
    <footer class="footer">
      <!-- <button class="bt-skip" (click)="goState()">Pular</button> -->
      <!-- <ion-icon name="arrow-forward" [hidden]="hiddenNext" (click)="goToSlide()"></ion-icon> -->
    </footer>
</ion-content>
