searchbar {
    background: #f9f9f9;
    .searchbar-md {
        background: #ececec;
        .searchbar-input {
            box-shadow: none;
        }
    }
    .title {
        padding: 8px;
        display: block;
        font-size: 1.6rem;
    }
}

.item-md.item-block .item-inner {
    padding-left: 8px;
    font-size: 1.4rem;
}