page-detail-programa {
    section, .scroll-content{
        background: #fff;
    }
    ul{
        padding-left: 1%!important;
        li{
            background: url(../assets/imgs/check.png) no-repeat;
            background-position: left;
            list-style: none;
            margin-top: 5%;
            background-size: 4%;
            padding-left: 8%;
        }
    }
}
