page-participacao {
    .card-ios{

        margin: 12px 0;
        width: 100%;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 0px 0 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    button {
        font-size: 1.3rem!important;
        font-weight: 600;
    }

    .card-ios small {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .card-title-ios {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.3;
    }
}
