<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Comites</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
        <ion-icon name="search"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="wrapError" *ngIf="(items).length === 0">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <p>Aguarde. Em breve estará disponível a lista de comitês.</p>
      </div>
  <ion-list margin-top *ngIf="items.length">
    <ion-card *ngFor="let item of items" (click)="openDetail('comites-detalhe', item.Id)">
      <ion-card-content class="flex-card">
        <div>
          <ion-card-title [innerHtml]="item.Cidade"></ion-card-title>
          {{item.Cidade}} / <span [innerHtml]="getNameFromUf(item.Estado)"></span>
  
          <ion-note>
            <ion-icon name="pin"></ion-icon>
            {{ item.Endereco }}
          </ion-note>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-list>
<!-- 
  <ion-list margin-top *ngIf="items.length == 0">
    <ion-card>
      <ion-card-content class="flex-card">
        <div>
          <p>Nenhum comitê encontrado.</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!itemsEnded">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
