<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Pesquisa de Opnião</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content text-center>
      <small class="yellow-color" text-uppercase *ngIf="pesquisaDetail.ExibirGrafico">Tema:</small>
      <ion-card-title *ngIf="pesquisaDetail.ExibirGrafico">{{pesquisaDetail.Pesquisa.Tema}}</ion-card-title>
      <div class="block-text" *ngIf="pesquisaDetail.ExibirGrafico">
        <p>{{pesquisaDetail.Pesquisa.Pesquisas[0].Pergunta}}</p>
      </div>
      <div class="box-graph" *ngIf="pesquisaDetail.ExibirGrafico">
          <div class="box negative">
            <div class="bar">
              <div class="progress" [style.height.%]="pesquisaDetail.negativePercent"></div>
            </div>
            <small text-uppercase>{{pesquisaDetail.negativeText}}</small>
            <p>{{pesquisaDetail.negativePercent}}%</p>
          </div>
          <div class="box agree">
            <div class="bar">
              <div class="progress"  [style.height.%]="pesquisaDetail.agreePercent"></div>
            </div>
            <small text-uppercase>{{pesquisaDetail.agreeText}}</small>
            <p>{{pesquisaDetail.agreePercent}}%</p>
          </div>
      </div>
      <div class="flag-green" *ngIf="pesquisaDetail.Mensagem">{{pesquisaDetail.Mensagem}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
