<ion-content>
  <ion-list padding>
    <header class="login-header" text-center>
        <h3 class="title-blue">Ganhe Pontos</h3>
        <div class="block-text">
          <p>Insira os dados abaixo e ganhe pontos! <br/>A cada preenchimento, mais pontos você ganha.</p>
        </div>
    </header>
    <button class="button-upload">
        <ion-icon name="camera"></ion-icon>
        <p>Selecione <strong>sua foto</strong></p>
    </button>
    <div class="progress-bar">
      <div class="bar" style="width: 20%">
        <div class="status"><strong>+10</strong> Pontos</div>
      </div>
    </div>
    <div class="block">
      <h4 class="bold" margin-top>Redes Sociais</h4>
      <ion-item>
        <ion-label floating text-uppercase>Facebook</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating text-uppercase>Instagram</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating text-uppercase>Twitter</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="block">
      <h4 class="bold" margin-top>Dados Pessoais</h4>
      <ion-item>
        <ion-label floating>Sexo</ion-label>
        <ion-select okText="Ok" cancelText="Cancelar">
          <ion-option value="masculino">Masculino</ion-option>
          <ion-option value="feminino">Feminino</ion-option>
          <ion-option value="outro">Outro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating text-uppercase>Telefone Fixo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating text-uppercase>Qual é sua Profissao?</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Estado Civil</ion-label>
        <ion-select okText="Ok" cancelText="Cancelar">
          <ion-option value="casado">Casado</ion-option>
          <ion-option value="solteiro">Solteiro</ion-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col col-5>
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar">
              <ion-option value="uf">UF</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-7>
          <ion-item>
            <ion-label floating>Cidade</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar">
              <ion-option value="selecione">Selecione</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label floating text-uppercase>Rua</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col col-5>
          <ion-item>
            <ion-label floating>Número</ion-label>
            <ion-select>
              <ion-option value="number"></ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-7>
          <ion-item>
            <ion-label floating text-uppercase>Complemento</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating text-uppercase>CEP</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating text-uppercase>Bairro</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div class="block">
      <h4 class="bold" >Marque suas Preferências</h4>
      <ul class="list-default">
        <li>
          <div>
            <ion-icon name="body" item-start></ion-icon>Item 1
          </div>
          <ion-icon name="heart" class="heart select" item-end></ion-icon>
        </li>
        <li>
          <div><ion-icon name="videocam" item-start></ion-icon>Item 1</div>
          <ion-icon name="heart" class="heart" item-end></ion-icon>
        </li>
        <li>
          <div><ion-icon name="person" item-start></ion-icon>Item 1</div>  
          <ion-icon name="heart" class="heart" item-end></ion-icon>
        </li>
        <li>
          <div><ion-icon name="list-box" item-start></ion-icon>Item 1</div>  
          <ion-icon name="heart" class="heart" item-end></ion-icon>
        </li>
      </ul>
    </div>
    <button ion-button full text-uppercase>Ganhar Pontos!</button>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar (click)="goPage('cadastro')" text-center>
    Não quero esses pontos. <strong>Ir para o app!</strong>
  </ion-toolbar>
</ion-footer>
  
  
  