<ion-header color="header">
  <style>
    .has-refresher > .scroll-content{
      background-color: #fff!important
    }
    .button-clear-ios{
      color:#bfbfbf;
    }
    .button-clear-md{
      color:#bfbfbf;

    }
    .button-clear-md:hover:not(.disable-hover) {
    background-color: transparent!important;
}
    </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Programa de Governo</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding >
  
  <div class="wrapError" *ngIf="(programa).length === 0">
    <i class="fa fa-smile-o" aria-hidden="true"></i>
    <p>Aguarde. Em breve esse conteúdo estará disponível.</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let l of programa" (click)="openDetails(l)">
      <ion-avatar item-start>
        <img src="{{l.Imagem}}">
      </ion-avatar>
      <h2>{{l.Titulo}}</h2>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
